{% extends 'posts/base.html' %}
{% block main %}
{% include 'posts/nav.html' %}
{% include 'posts/categories.html' %}
<main class="main">
    <div class="container">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ post.title }}</div>
                    {{ post.content }}
                    {% if post.image %}
                    <img src="{{ post.image.url }}" width="300" height="200">
                    {% endif %}
                    <p> Оставить отзыв об новости</p>
                    <form action="{% url 'posts:get_post' post.pk%}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="button" class="btn btn-success">Оставить отзыв</button>
                    </form>
                </div>
            </li>
        </ol>
    </div>
</main>


{% endblock %}